<section class="signup-form">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field>
      <input
        matInput
        type="email"
        placeholder="Your email"
        id="email"
        name="email"
        formControlName="email"
      />
      <mat-error *ngIf="!loginForm.get('email')?.hasError('required')"
        >Field must not be empty</mat-error
      >
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')"
        >E-mail is invalid</mat-error
      >
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 characters long">
      <input
        type="password"
        matInput
        placeholder="Password"
        id="password"
        name="password"
        formControlName="password"
      />
      <mat-hint align="end">
        {{ loginForm.get("password")?.value.length }} / 6</mat-hint
      >
      <mat-error>Has to be at least 6 characters.</mat-error>
    </mat-form-field>

    <button
      *ngIf="!isLoading"
      [disabled]="loginForm.invalid"
      type="submit"
      mat-raised-button
      color="primary"
    >
      Submit
    </button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</section>
