@use "@angular/material" as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$green-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// @include mat.all-component-themes($my-theme);
@include mat.core-theme($my-theme);
@include mat.icon-theme($my-theme);
@include mat.button-theme($my-theme);
@include mat.form-field-theme($my-theme);
@include mat.input-theme($my-theme);
@include mat.datepicker-theme($my-theme);
@include mat.checkbox-theme($my-theme);
@include mat.sidenav-theme($my-theme);
@include mat.toolbar-theme($my-theme);
@include mat.list-theme($my-theme);
@include mat.tabs-theme($my-theme);
@include mat.card-theme($my-theme);
@include mat.select-theme($my-theme);
@include mat.progress-spinner-theme($my-theme);
@include mat.dialog-theme($my-theme);
@include mat.table-theme($my-theme);
@include mat.sort-theme($my-theme);
@include mat.paginator-theme($my-theme);
@include mat.snack-bar-theme($my-theme);
