// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mls-app-primary: mat.define-palette(mat.$blue-palette);
$mls-app-accent: mat.define-palette(mat.$yellow-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$mls-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$mls-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $mls-app-primary,
      accent: $mls-app-accent,
      warn: $mls-app-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($mls-app-theme);
// @include mat.core-theme($my-theme);
// @include mat.icon-theme($my-theme);
// @include mat.button-theme($my-theme);
// @include mat.form-field-theme($my-theme);
// @include mat.input-theme($my-theme);
// @include mat.datepicker-theme($my-theme);
// @include mat.checkbox-theme($my-theme);
// @include mat.sidenav-theme($my-theme);
// @include mat.toolbar-theme($my-theme);
// @include mat.list-theme($my-theme);
// @include mat.tabs-theme($my-theme);
// @include mat.card-theme($my-theme);
// @include mat.select-theme($my-theme);
// @include mat.progress-spinner-theme($my-theme);
// @include mat.dialog-theme($my-theme);
// @include mat.table-theme($my-theme);
// @include mat.sort-theme($my-theme);
// @include mat.paginator-theme($my-theme);
// @include mat.snack-bar-theme($my-theme);
