<mat-nav-list>
  <ng-template #showLogin>
    <a mat-list-item routerLink="auth/login" (click)="onClick()"
      ><mat-icon matListItemIcon>login</mat-icon><span>Login</span></a
    >
  </ng-template>
  <mat-action-list *ngIf="user$ | async; else showLogin">
    <a mat-list-item routerLink="dashboard" (click)="onClick()"
      ><mat-icon matListItemIcon>dashboard</mat-icon><span>Dashboard</span></a
    >
    <button mat-list-item (click)="onLogout()">
      <mat-icon matListItemIcon>logout</mat-icon><span>Logout</span>
    </button></mat-action-list
  >
</mat-nav-list>
