<mat-toolbar class="flex gap-1">
  <button
    mat-icon-button
    aria-label="icon button with three vertical lines"
    (click)="onClick()"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <div class="flex-auto">
    <div class="flex justify-center">
      <a routerLink="/">MLSLogo</a>
    </div>
  </div>

  <ng-template #showLogin>
    <a routerLink="auth/login"><mat-icon>login</mat-icon></a>
  </ng-template>

  <button
    *ngIf="user$ | async; else showLogin"
    mat-icon-button
    (click)="onLogout()"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
