<mat-toolbar class="flex gap-1">
  <button
    mat-icon-button
    aria-label="icon button with three vertical lines"
    (click)="onClick()"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <div class="flex-auto">
    <div class="flex justify-center">
      <a routerLink="/">MLSLogo</a>
    </div>
  </div>

  <a routerLink="auth/login"><mat-icon>login</mat-icon></a>
  <button mat-icon-button><mat-icon>logout</mat-icon></button>

  <!-- <button
    mat-icon-button
    [matMenuTriggerFor]="appMenu"
    aria-label="icon for dropdown menu"
  >
    <mat-icon>keyboard_arrow_downward</mat-icon>
  </button>
  <mat-menu #appMenu>
    <ng-template matMenuContent>
      <a mat-menu-item routerLink="auth/login">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </a>
      <button mat-menu-item (click)="onLogout()">
        <mat-icon>logout</mat-icon> <span>Logout</span>
      </button>
    </ng-template>
  </mat-menu> -->
</mat-toolbar>
